[defaults]
inventory = inventory/hosts.yml
host_key_checking = False
gathering = smart
fact_caching = memory
stdout_callback = yaml
deprecation_warnings = False

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[inventory]
enable_plugins = host_list, script, auto, yaml, ini, toml