---
- name: "Advanced LAMP Stack Deployment"
  hosts: webservers
  become: yes
  gather_facts: yes
  
  tasks:
    - name: "Update package cache"
      package:
        update_cache: yes
      when: ansible_os_family == "Debian"
      
    - name: "Install Nginx"
      package:
        name: nginx
        state: present
      notify:
        - "enable nginx"
        - "start nginx"
        
    - name: "Install PHP"
      package:
        name: "php{{ php_version }}-fpm"
        state: present
      notify: "restart php-fpm"
      
    - name: "Create web directories"
      file:
        path: "{{ item.document_root }}"
        state: directory
        owner: www-data
        group: www-data
        mode: '0755'
      loop: "{{ virtual_hosts }}"
      
    - name: "Generate Nginx configurations"
      template:
        src: nginx.conf.j2
        dest: "/etc/nginx/sites-available/{{ item.name }}"
        backup: yes
      loop: "{{ virtual_hosts }}"
      notify: "reload nginx"
      
    - name: "Enable sites"
      file:
        src: "/etc/nginx/sites-available/{{ item.name }}"
        dest: "/etc/nginx/sites-enabled/{{ item.name }}"
        state: link
      loop: "{{ virtual_hosts }}"
      notify: "reload nginx"
      
    - name: "Deploy index.html"
      template:
        src: index.html.j2
        dest: "{{ item.document_root }}/index.html"
      loop: "{{ virtual_hosts }}"
      
  handlers:
    - name: "start nginx"
      service:
        name: nginx
        state: started
        
    - name: "enable nginx"
      service:
        name: nginx
        enabled: yes
        
    - name: "reload nginx"
      service:
        name: nginx
        state: reloaded
        
    - name: "restart php-fpm"
      service:
        name: "php{{ php_version }}-fpm"
        state: restarted

- name: "Database Server Configuration"
  hosts: dbservers
  become: yes
  
  tasks:
    - name: "Install MySQL"
      package:
        name: "{{ mysql_package }}"
        state: present
      notify: "start mysql"
      
    - name: "Generate MySQL configuration"
      template:
        src: mysql.cnf.j2
        dest: "/etc/mysql/mysql.conf.d/99-custom.cnf"
        backup: yes
      notify: "restart mysql"
      
  handlers:
    - name: "start mysql"
      service:
        name: mysql
        state: started
        
    - name: "restart mysql"
      service:
        name: mysql
        state: restarted